.row
  = render 'shared/user_bar'
  .row
    - if @events.present?
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              =link_to "#", class: "showhide" do
                %i{ class: "glyphicon glyphicon-chevron-up"}
            Events
          .panel-body
            = render 'shared/table', events: @events
          .panel-footer.right-align
            =link_to 'View all events', events_path(user_id: current_user.id), class: "btn"
    - if @my_events.present?
      .col-lg-6
        .hpanel
          .panel-heading
            .panel-tools
              =link_to "#", class: "showhide" do
                %i{ class: "glyphicon glyphicon-chevron-up"}
            My events
          .panel-body
            = render 'shared/table', events: @my_events
          .panel-footer.right-align
            =link_to 'View all my events', events_path(created_id: current_user.id), class: "btn"
