.row
  .page-header
    %h3.dashboard Show Event
    =link_to "Back", :back, class: "btn pull-right right-button"
.row
  .col-lg-6
    = render 'shared/event_show'
  - if @event.paid?
    .col-lg-6
      = render 'shared/payment_progress_for_event'
    .col-lg-6.col-lg-offset-6
      .hpanel
        .panel-heading
          .panel-tools
            =link_to "#", class: "showhide" do
              %i{ class: "glyphicon glyphicon-chevron-up" }
          Participants 
        .panel-body
          %table.table#event-show-participants
            %thead
              %th Full name
              %th.text-right Status
              %th.text-right Paid
              %th.text-right Balance to pay
            %tbody
              - @event.payments.each do |payment|
                = render 'payments_table_row', payment: payment
