<h3><%= "Hi #{@user.email}" %></h3>
<p> To registrate on RubyRoidFinance please follow link.</p>
<p><%= link_to "register", "http://192.168.75.128:3000/users/sign_up/#{@user.invited_code}", :method => :post %></p>