<h3><%= "Hi #{@invitation.email}" %></h3>
<p> To registrate on RubyRoidFinance please follow link.</p>
<p><%= link_to "register", "http://rubyroid-finance.herokuapp.com/users/sign_up/#{@invitation.invited_code}" %></p>