%h3= "Dear #{@participant.full_name}"
- if @event.paid?
  %p= "Celebration is coming. Don't forget to pay the bill #{@participant.money_rate}"
- else
  %p We are happy to inform you about new event.