%table.body-wrap{ bgcolor: "#f7f9fa"}
  %tbody
    %tr
      %td
      %td.container{ bgcolor: "#FFFFFF"}
        .content
          %table
            %tbody
              %tr
                %td
                  %strong= "Dear #{@user.full_name}"
                  %p= "Your password to login to RubyRoidFinance #{@user.password}"