.container
  .row
    .page-header
      %div.col-lg-12
        %h2 Dashboard
      %ul.nav.nav-tabs
        %li
          = link_to 'Profile', edit_user_registration_path
        %li
          = link_to 'Log out', destroy_user_session_path, method: :delete
    = render file: '/admin/invitations/new'
