.hpanel#income-outcome
  .panel-body.text-center.h-200
    %i.glyphicon.glyphicon-piggy-bank.gi-3x
    %h1.m-xs= @event.amount
    %h3.font-extra-bold.no-margins.text-success
      All Income
    %small This event has no fixed amount. You can pay as much as you wish.
  .panel-footer
    =link_to 'Take off', new_admin_item_path(@event, event_id: @event.id), remote: true, class: "btn btn-success"
    %span.pull-right
      %span All Outcome
      %h5= number_to_currency(@event.credit_items.sum(:amount), unit: "₴", format: "-%n %u")
