.row.bar-margin
  .col-lg-12
    %ul.nav.nav-tabs
      %li{ :class => ('active' if current_page?(authenticated_root_path)) }
        = link_to 'Dashboard', authenticated_root_path
      %li{ :class => ('active' if current_page?(events_path)) }
        = link_to 'Events', events_path
      %li{ :class => ('active' if current_page?(payments_path)) }
        = link_to 'Payments', payments_path
      %li{ :class => ('active' if current_page?(calendar_path)) }
        = link_to 'Calendar', calendar_path
      %li.pull-right
        =button_to "New event", new_event_path, method: :get, class: "btn btn-primary"
