.row
  .col-lg-12
    %h3
      Welcome #{@user.full_name}
.row
  .col-md-12
    .hpanel
      .panel-heading.hbuilt
        Chat room
      .panel-body.no-padding
        .row
          .col-md-9
            .chat-discussion
      .panel-footer
        .input-group
          %input#chat-input.form-control{:placeholder => "Type your message here...", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-success#chat-button
                Send