.row
  = render 'shared/user_bar'
.row
  .col-lg-12
    .hpanel
      .panel-heading
        .panel-tools
          =link_to "#", class: "showhide" do
            %i{ class: "glyphicon glyphicon-chevron-up"}
        Events
      .panel-body
        = render 'shared/table', events: @events