.row
  .page-header
    %h3.dashboard Show Event
    =link_to "Back", :back, class: "btn pull-right right-button"
.row
  .col-lg-6
    = render 'shared/event_show'
  - if @event.paid?
    .col-lg-6
      = render 'shared/payment_progress_for_event'
    .col-lg-6
      .hpanel
        .panel-heading
          .panel-tools
            =link_to "#", class: "showhide" do
              %i{ class: "glyphicon glyphicon-chevron-up" }
          Participants
        .panel-body
          %table.table#event-show-participants
            %thead
              %th Full name
              %th.text-right Payment
            %tbody
              - @event.participants.each do |participant|
                %tr 
                  %td= participant.full_name
                  %td.text-right= number_to_currency(participant.payments.for_event(@event.id).first.amount, unit: "₴",format: "%n %u")
