.row
  .login-container
    .col-md-12
      .text-center.m-b-md
        %h3 WANT TO JOIN US?
        %p You can not register on this site without invitation.
        %p Send request to get it.
.hpanel.col-lg-6.col-lg-offset-3
  .panel-body
    .form.form-group
      = simple_form_for :invitation, url: invitations_path, method: :post do |f|
        = f.input :email, required: true, :placeholder => "E-mail", label: false, class: 'form-control'
        .input-group-btn.text-center
          = f.button :submit, 'Send request'