.container
  = simple_form_for :user, action: 'send_invitation', method: :post do |f|
    .row
      .input-group.col-md-6.pull-right
        = f.input :email, :placeholder => "E-mail", label: false, class: 'form-control'
        .input-group-btn
          = f.button :submit, 'Send invitation'