/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./homer
 *= require jquery_ui_autocomplete
 */

// @import "bootstrap-sprockets";
// @import "bootstrap";
// @import "homer_style";

.date-color {
  color: black !important;
}

.custom-table {
  font-size: 14px;
  thead tr {
    font-size: 18px;
  }
}

.expired {
  background-color: #FFE0DC;
}

.dashboard {
  display: inline-block;
}

.glyphicon-margin a {
  margin: 0px 5px;
}

.bar-margin {
  margin: 40px 0 20px;
}

.right-button {
  margin-top: 10px;
}

.navbar-nav > li > a {
  padding: 15px 20px;
  font-size: 18px;
}

.gi-3x {
  font-size: 3em;
}

#calendar {
  table {
    border-collapse: collapse;
    width: 100%;

    td, th {
      padding: 6px;
      border: 1px solid #ddd;
    }
    
    th {
      font-size: 10px;
      background: #f7f8fa;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
    }

    td {
      background: #FFF;
      color: #777;
      height: 120px;
      vertical-align: top;
      font-size: 16px;
    }
  }

  .notmonth {
    color: #CCC;
  }

  #month {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    a, a:hover {
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }
  }
  
  .today {
    background-color: #fcf8e3;
  }

  ul {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    list-style: none;

    li {
      margin: 2px 6px 0;
      padding: 4px 6px;
      text-decoration: none;
      position: relative;
      display: block;
      border-radius: 3px;
      a {
        line-height: 1.3;
        font-size: .8em;
        color: #fff;
        display: block;
      }
      i {
        color: #fff;
        float: left;
        padding-right: 5px;
      }
    }
  }      
}

.free-event {
  background-color:#62cb31;
  border-color:#62cb31;
}

.paid-event {
  background-color:#ffb606;
  border-color:#ffbf25;
}

.custom-event {
  background-color:#3498db;
  border-color:#3498db;
}

.modal-header {
  padding: 20px 30px;
}

.new-event-hide-button {
  position: absolute;
  z-index: 1;     
}

.inline-form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
}
